@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;
* {
    scroll-behavior: smooth;
}
:root {
    font-family: "Outfit", sans-serif;
}
body {
    @apply bg-black text-white;
}
.inner {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}
p {
    font-family: "Montserrat", sans-serif;
}
