@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;
* {
    scroll-behavior: smooth;
}
:root {
    font-family: "Outfit", sans-serif;
}
p::selection,
h1::selection,
h2::selection,
h3::selection,
span::selection,
a::selection,
button::selection,
input::selection {
    @apply bg-pink text-white;
}
body {
    max-width: 100vw;
    overflow-x: hidden;
    @apply bg-black text-white;
}
.inner {
    width: 100%;
    max-width: 1032px;
    margin: 0 auto;
    padding-left: 16px;
    padding-right: 16px;
}
.hover-navigation-link > div > a:hover,
.hover-navigation-link > span:hover,
.hover-navigation-link > a:hover {
    @apply text-pink font-bold;
}
.hover-navigation-link {
    min-width: clamp(100%, 420px);
}
a,
details,
summary {
    transition: color 0.2s ease-in;
}
input {
    background-color: transparent;
}
input::placeholder,
textarea::placeholder {
    color: rgba(255, 255, 255, 0.5);
}
p,
.text-montserrat {
    font-family: "Montserrat", sans-serif;
}
/*
Utilities
*/
.border-input-radius {
    border-radius: 0px 24px 24px 0px;
}
/*___________________________________________

SERVICE CARDS
_____________________________________________
_____________________________________________*/
.service-cards-wrapper {
    @apply inner flex flex-col smScreen:grid smScreen:grid-cols-2 gap-16 maxScreen:flex maxScreen:flex-row maxScreen:justify-between;
}
.service-cards-wrapper-only-two {
    @apply inner flex flex-col smScreen:grid smScreen:grid-cols-2 gap-16 maxScreen:flex maxScreen:flex-row maxScreen:justify-around pb-16;
}
.service-card {
    @apply flex flex-col gap-4 items-center justify-between min-w-serviceCard max-w-serviceCard smScreen:mx-auto maxScreen:mx-0;
}
.service-card_description {
    @apply flex flex-col gap-2;
}
.service-card_description_img {
    @apply max-w-hundre mx-auto;
}
.service-card_description_heading {
    @apply text-trettito font-semibold text-center;
}
.service-card_description_text {
    @apply font-semibold opacity-50 text-center;
}
.service-card_content {
    @apply flex flex-col gap-2;
}
.service-card_content_bullet {
    @apply flex gap-[6px] items-center;
}
/*___________________________________________
_____________________________________________
SERVICE CARDS
_____________________________________________*/
